@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" data-content="JOHNS-09022015-142950">
    <h1>::Title::</h1>
    <p class="lead">::Body::</p>

</div>

<div class="row">
    <div class="col-md-4" data-content="JOHNS-09022015-141910">
        <h2>::Title::</h2>
        <p>
            ::Body::
        </p>
        <p></p>
    </div>
    <div class="col-md-4" data-content="JOHNS-10022015-152106">
        <h2>::Title::</h2>
        <p>
            ::Body::
        </p>
        <p></p>
    </div>
    <div class="col-md-4" data-content="JOHNS-10022015-152549">
        <h2>::Title::</h2>
        <p>
            ::Body::
        </p>
        <p></p>
    </div>
</div>